html {
    scroll-behavior: smooth;
}

body {
    background-color: #353535;
    color: white;
    margin: 0;
    padding: 0;
    height: 170vh;
}

nav {
    position: fixed;
    left: 0;
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 20px;
}
nav a {
    left: 0;
    color: red;
    text-decoration: none; 
    transition: ease-in 80ms;
}
nav a:hover {
    transition: ease-in 120ms;
    color: rgb(255, 255, 255);
}
nav li {
    left: 0;
    background-color: #20202080;
    list-style-type: none;
    padding: 10px;
    margin: 0px;
}